@import url(../defaults.css);

.logged-in{
    display: none;
}

.driver{
    display: block;
}

li{
    list-style-type:none;
}

p{
    margin: 0;
}

h2.header{
    background-color: #fff;
    width: 100%;
    position:sticky;
    top: 0;
    padding: 20px 0px 20px 0px;
}

h3{
    font-size:18px;
}

h3#date{
    font-size: 13px;
    font-weight: lighter;
}

.bg{
    background-color: var(--secondary);
    width: 100%;
    height: 500px;
    border-radius: 0px 0px 10px 10px;
}

.container-deliverer{
    background-color: white;
    position: absolute;
    max-width: 90%;
    box-shadow: rgba(24, 39, 75, 0.08) 0px 5px 24px -4px;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%); 
    border-radius: 10px;
    padding: 0;
}

.order-list{
    padding: 50px;
    padding-top: 0;
    height: auto;
}

.order-detail{
    border-top: 1px solid var(--gray-500);
    padding: 10px;
}

.order-detail:active{
    color: var(--gray-500);
}

p.date{
    color: var(--gray-500);
    font-size: 12px;
}

p.company-name{
    font-weight: bold;
    font-size: 18px;
}

p.order-number, p.zipcode{
    font-size: 16px;
}

p.pickup{
    color: var(--gray-500);
}

p.delivered{
    color: var(--status-delivered);
}

.table td, .table th{
    border: none;
}

.order-address{
    font-weight: bold;
}

button#pickOrder, button#outForDelivery, button#orderDelivered, button#back{
    padding: 10px 55px;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
    margin: 0 auto;

}
button#orderDelivered{
    background-color:var(--status-delivered);
}

button#outForDelivery{
    background-color: var(--status-on-the-way);
}

button#back, button#cancel, button#cancelOrder{
    display: block;
    background-color:transparent;
    font-weight: 300;
    color:var(--gray-800);
    margin: 0 auto;

}
.buttons{
text-align: center;
margin-top: 30px;
}

button#back:hover, button#cancel:hover{
    text-decoration: underline;
}

.disabled{
    background-color: gray!important;
}

#map{
    height: 500px;
    width:auto;
}

.on-the-way{
    color: var(--status-on-the-way);
}