@import url(../defaults.css);

#logo-duif {
    margin-left: 600px;
}


.container-landing {
    max-width: 1140px;
    padding-top: 20vh;
}

.navbar {
    background-color: white;
}

.logged-in {
    display: none;
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--black);
    font-weight: 600;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
    color: var(--black);
}



.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(34, 35, 40)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-dark:hover .navbar-nav:hover .nav-link:hover {
    color: var(--secondary);
}

.item {
    margin-right: 100px;
}

h1.header,
p.header {
    font-size: 75px;
    font-weight: 800;
    margin: 0px;
    line-height: 1.2;
}

span.green {
    color: var(--secondary);
}

span.yellow {
    color: var(--main);
}

img.header-img {
    width: 490px;
}

p.header-desc {
    color: var(--gray-800);
    max-width: 400px;
    margin-bottom: 10px;
}

button.get-started {
    max-width: 200px;
    padding: 10px 40px 10px 40px;
    border-radius: 10px;
}


.section {
    margin-top: 30vh;
}


h2 {
    margin-bottom: 90px;
}


@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }


}

@media (max-width: 768px) {

    img.header-img {
        display: none;
    }

    .steps{
        margin-bottom: 100px;
    }   

    .container-landing {
        max-width: 100%;
        padding-top: 100px;
    }
}