@import url(../defaults.css);

#page {
    background-color: #f8df51;
    width: 100%;
    height: 500px;
    border-radius: 0px 0px 10px 10px;
    position: relative;
}

#client-navbar {
    background-color: #f8df51;
    padding: 10px;
    max-width: 100%;
}

#client-panel {
    background-color: #f8df51;
    width: 100%;
    height: 550px;
    border-radius: 0px 0px 10px 10px;
    position: relative;
}

#dashboard {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
    max-width: 1140px;
    top: 10vh;
    height: auto;
}

.white-bg{
    background-color: white;
    position: absolute;
    box-shadow: rgba(24, 39, 75, 0.08) 0px 5px 24px -4px;
    left: 50%;
    transform: translateX(-50%); 
    border-radius: 10px;
    padding: 90px;
    overflow-y: scroll;
    max-height: 1000px;
}


#graph {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
    max-width: 840px;
    margin-right: 7px;
    top: 9vh;
}

#ordersTable {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
    max-width: 310px;
    margin-left: 7px;
    top: 9vh;
}

#graphTable{
    position: relative;
    max-width: 1170px;
}

.order-history {
    overflow-y: scroll;
    max-width: 100%;
}

.ct-series-a .ct-line {
    /* Set the colour of this series line */
    stroke:  #377E7F;
    /* Control the thikness of your lines */
    stroke-width: 5px;
}


.illustration img{
    max-height: 250px;
}


/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
.illustration{
    display: none;
}

.white-bg{
    padding: 0px;
}
 }