.form-signin{
    max-width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 12px;
    border-radius: 5px;
}

body {
    background-image: url("https://images.unsplash.com/photo-1638176608974-ac491c4128a3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3000&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}

#login-input {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.text-center {
    margin: auto;
    position: center;
}
