.card {
    box-shadow: rgba(24, 39, 75, 0.08) 0px 5px 24px -4px;
    border: none;
    border-radius: 15px;
    text-align: center;
    padding: 30px;
    position: relative;
    height: 450px;
    margin-bottom: 90px;

}

.verkopers-info {

}

.add{
    padding: 5px;
    background-color: var(--secondary);
    border-radius: 5px;
    color: white;
}


