@import url(../defaults.css);

#test {

    overflow-x: hidden;

}

.containerProfile {
    margin-top: 20px;
    width: 80%;
    margin-left: 10%;
    height: 60%;
}

#reviewBoxList {
    overflow-x: hidden;
    height: 700px;
    overflow-y: auto;

}

.review-block {
    width: 300px;
}

.review-block-description {

    width: 200px;
    height: 200px;
    margin-left: 20px;
}

.containerReview {
    margin-left: 90px;
}

.R-cont {
    float: left;
    width: 50%;
}

.inputCont input {

    padding: 20px;
    border-radius: 8px;
    width: 90%;
    margin: 5%;
    height: 200px;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.alert.success {
    background-color: #04AA6D;
}

.closebtn:hover {
    color: black;
}

.negativeBar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #bd4141;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

.positiveBar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: green;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

.neutralBar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #F9E052FF;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

#reviewBox {
    width: 900px;
}

.btn-submit {
    background-color: var(--secondary);
    border: none;
    color: white;
    transition: 0.3s;
    width: auto;
    max-width: 200px;
    padding: 8px 40px 8px 40px;
    border-radius: 10px;
}

.chooseScore {
    background-color: var(--secondary);
    border: none;
    color: white;
    transition: 0.3s;
    width: auto;
    max-width: 200px;
    padding: 10px 40px 10px 40px;
    border-radius: 10px;
}

@media (max-width: 767.98px) {
    #test {
        overflow: auto;
    }

    .col-sm-12 col-lg-4 {
        width: 70%;
    }

    .row {
        width: 3000px;
    }

}