@import url(../defaults.css);


h1 {
    margin-bottom: 50px;
}

header {
    margin-bottom: 40px;
}

header a {
    color: var(--black);
}

.card {
    box-shadow: rgba(24, 39, 75, 0.08) 0px 5px 24px -4px;
    border: none;
    border-radius: 15px;
    text-align: center;
    padding: 30px;
    position: relative;
    height: 450px;
    margin-bottom: 90px;

}


.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


button{
    padding: 5px;
    width: 40px;
    height: 40px;
}
.order-nummer {
    font-weight: bold;
}

.bestelling-info {
    text-align: left;
}

.info-kop {
    font-size: 13px;
    font-weight: medium;
    color: var(--gray-300)
}

#code {
    font-weight: bold;
    font-size: 16px;
}

p.onderweg {
    color: var(--status-onderweg);
}

p.bezorgd {
    color: var(--status-bezorgd);
}


span.cirkel-oranje {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: var(--status-onderweg);
    display: inline-block;
}


span.cirkel-groen {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: var(--status-bezorgd);
    display: inline-block;
}

/* mobiel */
@media (max-width: 767.98px) {

    .card{
        margin-bottom: 50px;
    }
}