@import url(../defaults.css);

body {
    font-family: 'Archivo', sans-serif;
    background: url(http://amitchaudhary.in/images/testimonials.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
}


.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    background: #fff;
    border-radius: 15px;
    width: 60%;
    position: relative;
    transition: all 5s ease-in-out;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.popup h2 {
    margin: 15px;
    color: #333;
    font-family: 'Archivo', sans-serif;
}
/*.popup .close {*/
/*    top: 370px;*/
/*    right: 20px;*/
/*    transition: all 200ms;*/
/*    font-size: 30px;*/
/*    font-weight: bold;*/
/*    text-decoration: none;*/
/*    color: #333;*/
/*}*/

.popup .content {
    max-height: 30%;
    overflow: hidden;
}

.titel {
    background-color: #FCFC62;
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 15px;
}

.maken {
    border-radius: 5px;
    background-color: #015F3D;
    color: white;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    border: none;
    hover: #0a8f5f;
    margin-top: 20px;
}

/**
fix da button T.T
 */
.annuleren {
    margin-top:20px;
    border-radius: 5px;
    margin-left: 50px;
    padding: 8px 40px;
    text-align: center;
    text-decoration: none;
    border: none;
}

.col-6 {
    margin-left: 5px;
    margin-top: 5px;
}

.col-4 {
    margin-left: 5px;
    margin-top: 5px;
}

.col-2 {
    margin-left: 5px;
    margin-top: 5px;
}

.vorm-controle {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #A2A9AC;
    background-color: #EBEEF4;
    background-clip: padding-box;
    border: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}