@import url(../defaults.css);

.card{
    -webkit-box-shadow: 0px 8px 24px -4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 8px 24px -4px rgba(0,0,0,0.2);
    box-shadow: 0px 8px 24px -4px rgba(0,0,0,0.2);
    border: none;
    border-radius: 15px;
    text-align: center;
}

.card-body button{
    background-color: var(--secondary);
    border: none;
    color: white;
    width: 30px;
    height: 30px;
}

p.test{
    color: red;
}