@import url(../defaults.css);

<<<<<<< HEAD
=======
body {
    font-family: 'Archivo', sans-serif;
    background-size: cover;
    height: 100vh;
}


>>>>>>> 9308277cc787d8fcf986a8e086112657b1189fd8
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.card-header {
    background-color: var(--main);
    border-bottom: none;
    text-align: left;
    padding: 20px;
    border-radius: 0 0 15px 15px !important;
}

.popup {
    margin: 70px auto;
    border-radius: 15px;
    position: relative;
}

.card-form {
    padding: 0;
    border-radius: 15px;
    max-width: 800px;
}

.titel {
    padding: 20px;

}

h2 {
    color: var(--black);
    font-family: 'Archivo', sans-serif;
    font-size: 24px;
    margin-bottom: 0px;
}


.popup .content {
    max-height: 30%;
}

.maken {
    border-radius: 5px;
    background-color: var(--secondary);
    color: white;
    width: 200px;
    padding: 10px;

}

/**
fix da button T.T
 */
.annuleren {
    margin-top: 20px;
    border-radius: 5px;
    margin-left: 50px;
    padding: 8px 40px;
    text-align: center;
    text-decoration: none;
    border: none;
}

.col-6 {
    margin-left: 5px;
    margin-top: 5px;
}

.col-4 {
    margin-left: 5px;
    margin-top: 5px;
}

.col-2 {
    margin-left: 5px;
    margin-top: 5px;
}

.vorm-controle {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #A2A9AC;
    background-color: #EBEEF4;
    background-clip: padding-box;
    border: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@media screen and (max-width: 700px) {
    .popup {
        width: 70%;
    }
}