@import url(../defaults.css);

header{
    margin-bottom: 40px;
}

header a{
    color: var(--black);
}

h1{
    margin-bottom: 50px;
}
.card {
    box-shadow: rgba(24, 39, 75, 0.08) 0px 5px 24px -4px;
    border: none;
    border-radius: 15px;
    text-align: center;
    padding: 30px;
    position: relative;
    margin-bottom: 90px;
    max-height: 450px;
    height: 100%;

}

.body-bestelling{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

p {
    margin: 5px;
}

.order-nummer{
    font-weight: bold;
}

.box {
    background-color: white;
    width: 80px;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 5px 0px;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 10px;

}

.card-body button {
    background-color: var(--secondary);
    border: none;
    color: white;
    width: 40px;
    height: 40px;
    transition: 0.3s;
}

.card-body button:hover {
    background-color: var(--hover);

}

.bestelling-info {
    text-align: left;
}

.info-kop {
    font-size: 13px;
    font-weight: medium;
    color: var(--gray-300)
}

#code {
    font-weight: bold;
    font-size: 16px;
}

p.onderweg {
    color: var(--status-onderweg);
}

p.bezorgd{
    color: var(--status-bezorgd);
}

span.cirkel-oranje {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: var(--status-onderweg);
    display: inline-block;
} 


span.cirkel-groen {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: var(--status-bezorgd);
    display: inline-block;
} 

/* mobiel */
@media (max-width: 767.98px) { 


    
}