@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
}

/* Variables */
:root {
    --main: #FCFC62;
    --secondary: #015F3D;
    --gray-100: #015F3D;
    --gray-300: #CDD0D4;
    --gray-500: #CDD0D4;
    --gray-800: #40424A;
    --black: #222328;
    --status-bezorgd: #2DD034;
    --status-onderweg: #2DD034;
}

/* Defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
    color: var(--gray-800);
}
p {
    color: var(--black);
}
.muted-text {
    color: var(--gray-300);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.navbar {
    background-color: #2F72B9;
}

.bd-navbar .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: #cbbde2;
}