@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Archivo', sans-serif;
}

/* Variables */
:root {
    --main: #F9E052;
    --secondary: #377E7F;
    --hover: #06442E;
    --gray-100: #EBEEF4;
    --gray-300: #CDD0D4;
    --gray-500: #CDD0D4;
    --gray-800: #40424A;
    --black: #222328;
    --status-bezorgd: #2DD034;
    --status-onderweg: #FFB800;
}

.nav-link {
    color: black;
}

/* Defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /*color: var(--black);*/
}

button, .btn-success {
    background-color: var(--secondary);
    border: none;
    color: white;
    transition: 0.3s;
    width: auto;
}
a {
    text-decoration: none;
    color: black;
}

p {
    margin: 5px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

.muted-text {
    color: var(--gray-300);
}

#titelLanding {
    color: black;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.container{
    padding-top: 30px;
}

/* Navbar */
.navbar {
    background-color: var(--main);
    /*box-shadow: rgba(24, 39, 75, 0.08) 0px 0px 10px 1px;*/
}


.navbar-dark .navbar-brand {
    color: var(--black);
}

.navbar-light .navbar-nav .nav-link {
    color: var(--black);
}


.bd-navbar .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: #cbbde2;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: var(--secondary);
}

/* Navbar Toggler */
.navbar-toggler{
    border: none;
    stroke: var(--secondary);
}


